@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #909ab894;
  border: 2px solid transparent;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  color: #fff;
  background-color: rgba(128, 128, 128, 0.764);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
